<div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
            Player One
            <span class="badge badge-info badge-pill">Goalkeeper</span>
        </li>
        <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
            Player two
            <span class="badge badge-info badge-pill">Defender</span>
        </li>
        <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
            Player Three
            <span class="badge badge-info badge-pill">midfielder</span>
        </li>
        <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
            Player Four
            <span class="badge badge-info badge-pill">Forward</span>
        </li>
    </ul>
</div>