<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input
      type="hidden"
      name="id"
      #id="ngModel"
      [(ngModel)]="service.tournament.id"
    />
    <div class="form-group">
      <input
        name="name"
        #name="ngModel"
        [(ngModel)]="service.tournament.name"
        class="form-control"
        placeholder="tournament name"
        required
      />
      <div
        class="form-group validation-error"
        *ngIf="name.invalid && name.touched"
      >
        This field is required
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-6">
        <input
          name="location"
          #location="ngModel"
          [(ngModel)]="service.tournament.location"
          class="form-control"
          placeholder="location"
          required
        />
        <div
          class="form-group validation-error"
          *ngIf="location.invalid && location.touched"
        >
          This field is required
        </div>
      </div>
      <div class="form-group col-6">
        <div class="input-group">
          <kendo-datepicker
            name="startDate"
            #startDate="ngModel"
            [(ngModel)]="service.tournament.startDate"
            class="form-control"
            required
          ></kendo-datepicker>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn btn-success btn-lg btn-block"
      >
        Register
      </button>
    </div>
  </form>
