
<div class="row">
    <div class="col">
        <div class="card" style="width: 50%;">
            <div class="row">
                <div class="col-md-7">
                    <p class="card-text text-dark">Team One</p>
                    <p class="card-text text-dark">Team Two</p>
                </div>
                <div class="col-md-5 text-warning ">
                    <p class="text-sm-center">Kick-Off</p>
                    <p class="text-sm-right">2019-10-14 15:00:00</p>
                </div>
            </div>
        </div>
    </div>
</div>