
    <table class="table table-striped table-hover">
        <thead class="bg-info">
            <tr>
                <th scope="col">Club</th>
                <th scope="col">MP</th>
                <th scope="col">W</th>
                <th scope="col">D</th>
                <th scope="col">L</th>
                <th scope="col">Pts</th>
                <th scope="col">GF</th>
            </tr>
        </thead>
        <tbody class="table-info">
            <tr>
                <th scope="row">Team One</th>
                <td>5</td>
                <td>5</td>
                <td>0</td>
                <td>0</td>
                <td>15</td>
                <td>25</td>
            </tr>
            <tr>
            <tr>
                <th scope="row">Team Two</th>
                <td>5</td>
                <td>4</td>
                <td>1</td>
                <td>0</td>
                <td>13</td>
                <td>30</td>
            </tr>
            <tr>
                <th scope="row">Team Three</th>
                <td>5</td>
                <td>3</td>
                <td>0</td>
                <td>2</td>
                <td>9</td>
                <td>15</td>
            </tr>
            <tr>
                <th scope="row">Team Four</th>
                <td>5</td>
                <td>1</td>
                <td>1</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
            </tr>
            <tr>
                <th scope="row">Team Five</th>
                <td>5</td>
                <td>1</td>
                <td>0</td>
                <td>4</td>
                <td>3</td>
                <td>-25</td>
            </tr>
        </tbody>
    </table>